{
        "721": {
            "__POLICY_ID__": {
              "__TOKEN_NAME__": {
                "description": "This is my first NFT thanks to the Cardano foundation",
                "name": "Cardano foundation NFT guide token",
                "id": 1,
                "image": ""
              }
            }
        }
}
